.dialog-wrapper {
  min-width: 300px;
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--text-main);
}

h3 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.field {
  width: 100%;
}

.checkbox-row {
  margin-top: 0.4rem;
}

.dialog-actions {
  margin-top: 0.8rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.6rem;
}
