.theme-toggle {
  position: fixed;
  top: 1rem;
  right: 1.2rem;
  z-index: 9999;
  backdrop-filter: blur(14px);
  border-radius: 50%;
  padding: 6px;
  border: 1px solid rgba(255,255,255,0.2);
  background: rgba(255,255,255,0.25);
  color: var(--text-main);

  &:hover {
    background: rgba(255,255,255,0.4);
  }
}
